<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings>
  <add name="conexionbd"
       connectionString="Data Source=localhost; Initial Catalog=ucs_bd; Persist Security Info=True; User ID=root; Password=root"
providerName="MySql.Data.MySqlClient"/>
</connectionStrings>
</configuration>